<% @lists.each do |list| %>
  <h3><%= link_to list.name, list_path(list), class: "btn btn-outline-warning" %></h3>
<% end %>
<p><%= link_to "Create new list", new_list_path, class: "btn btn-dark" %></p>
